
<%- include('../includes/auth/start'); -%>


<form  action="/auth/sign-up" method="POST">

  <!-- user name -->
  <div class="form-outline mb-4">
    <input type="text" id="form3Example3" class="form-control" name="name"/>
    <label class="form-label" for="form3Example3">Name</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" name="email"/>
    <label class="form-label" for="form3Example3">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form3Example4" class="form-control"name="password" />
    <label class="form-label" for="form3Example4">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">
    Sign up
  </button>

</form>

<div><a href="/auth/sign-in">sign in account</a></div>


  <%- include('../includes/auth/end'); -%>
